body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}
h1 {
  margin-top: 20px;
}
.camera {
  margin: 20px auto;
  width: 640px;
  height: 480px;
  position: relative;
}
video, canvas, img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.controls button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.countdown-text {
  position: absolute;
  top: 50%
  left: 50%
  transform: translate(-50%, -50%);
  font-size: 100px
  font-weight: bold;
  color: red;
  z-index: 999;
  display: none;
}
